@import '../../style/variables.module.scss';

.coffeebeans{
    margin: 25px auto 0 auto;
    width: 29px;
    height: 29px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: -85px;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        height: 1px;
    }
    &:after {
        content: '';
        position: absolute;
        right: -85px;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        height: 1px;
    } 
    &_black {
        svg {
            path {
                fill: $black-color;
            }
        }
        &:before {
            background-color: $black-color;
        }
        &:after {
            background-color: $black-color;
        } 
    }
    &_white {
        svg {
            path {
                fill: $white-color;
            }
        }
        &:before {
            background-color: $white-color;
        }
        &:after {
            background-color: $white-color;
        } 
    }
}
