@import '../../style/variables.module.scss';

.navigationitem {
    font-weight: 400;
    font-size: 12px;
    &_white {
      a {
          color: $white-color;
          &:hover {
            color: $white-color;  
          }
      }
    }
    &_black {
      a {
          color: $black-color;
          &:hover {
            color: $black-color;  
          }
      }
    }
    &_inactive {
        position: relative;
        display: block;
        &:before {
          position: absolute;
          bottom: 0;
          left: -32px;
          content: url('../../resources/twoCoffeeBeans.png');
          width: 35px;
          height: 35px;
          opacity: 0;
        }
    }
    &_active {
      &:before {
        transition: all 0.6s;
        position: absolute;
        bottom: 0;
        left: -32px;
        content: url('../../resources/twoCoffeeBeans.png');
        width: 35px;
        height: 35px;
        opacity: 1;
      }
  
  }
}

// .navigationitem_active {
//     &:before {
//       transition: all 0.6s;
//       position: absolute;
//       bottom: 0;
//       left: -32px;
//       content: url('../../resources/twoCoffeeBeans.png');
//       width: 35px;
//       height: 35px;
//       opacity: 1;
//     }

// }

