@import '../../style/variables.module.scss';

.navigationitem {
    font-weight: 400;
    font-size: 12px;
    a {
        position: relative;
        display: block;
        color: $white-color;
        &:hover {
            color: $white-color;
            
        }
        &:before {
          position: absolute;
          bottom: 0;
          left: -32px;
          content: url('../../resources/twoCoffeeBeans.png');
          width: 35px;
          height: 35px;
          opacity: 0;
        }
    }
}

.navigationitem_black {
  a {
      color: $black-color;
      &:hover {
        color: $black-color;  
      }
  }
}

.navigationitem_show {
  a {
    &:before {
      transition: all 0.6s;
      position: absolute;
      bottom: 0;
      left: -32px;
      content: url('../../resources/twoCoffeeBeans.png');
      width: 35px;
      height: 35px;
      opacity: 1;
    }
  }
}

