@import '../../style/variables.module.scss';

.navigation {
    &__links {
        padding-left: 32px;
        position: relative;
        max-width: 355px;
        margin-left: 149px;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_black {
            margin: 0 auto;
        }
    }
}