@import '../../style/variables.module.scss';

.navigation {
    padding-left: 32px;
    position: relative;
    max-width: 355px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_alignleft {
        margin-left: 149px;
    }
    &_aligncenter {
        margin: 0 auto;
    }
}