@import '../../style/variables.module.scss';

.mainscreen {
    background: url(../../resources/mainImg.jpg) no-repeat 50%/cover;
    min-height: 640px;
    padding-top: 52px;
    &__title {
        margin-top: 111px;
        font-weight: 700;
        font-size: 40px;
        color: $white-color;
        text-align: center;
    }
    &__subtitle {
        margin-top: 34px;
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        color: $white-color
    }
    &__subtitle_mt20 {
        margin-top: 20px;
    }
    &__button {
        display: block;
        margin: 0 auto;
    }
}

.second {
    background: url(../../resources/secondaryImg.jpg) no-repeat 50%/cover;
    min-height: 260px;
    padding-top: 52px;
    &__title {
        margin-top: 60px;
        font-weight: 700;
        font-size: 40px;
        color: $white-color;
        text-align: center;
    }
}
.third {
    background: url(../../resources/tertiaryImg.jpg) no-repeat 50%/cover;
    min-height: 260px;
    padding-top: 52px;
    &__title {
        margin-top: 60px;
        font-weight: 700;
        font-size: 40px;
        color: $white-color;
        text-align: center;
    }
}
