@import '../../style/variables.module.scss';

.ourbest {
    min-height: 495px;
    padding-top: 80px;
    background: url(../../resources/ourBestImg.jpg) no-repeat 50%/cover;
    &__list {
        margin: 0 auto;
        max-width: 802px;
        margin-top: 39px;
        display: flex;
        justify-content: space-between;
    }
}