@import '../../style/variables.module.scss';

.productitem {
    &__product {
        cursor: pointer;
        padding: 21px;
        display: flex;
        flex-direction: column;
        max-width: 220px;
        min-height: 240px;
        border-radius: 8px;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
        &:hover {
            box-shadow: 4px 4px 20px rgba(204, 22, 22, 0.8);
        }
    }
    &__img {
        margin: 0 auto;
        width: 151px;
        height: 130px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__name {
        margin-top: 14px;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: $black-color;
    }
    &__country {
        margin-top: 14px;
        font-weight: 400;
        font-size: 14px;
        text-align: right;
        color: $black-color;
    }
    &__price {
        margin-top: 10px;
        font-weight: 700;
        font-size: 14px;
        text-align: right;
        color: $black-color;
    }
}
.background {
    &_bgwhite {
        background: #fff;
    }
    &_bgyel {
        background: rgba(255, 255, 255, 0.65);
    }
}
